<a href="https://colab.research.google.com/github/PardhuC7/Pardhu/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
data=np.array([10,5,7,9])
s = pd.Series(data)
print (s)

0    10
1     5
2     7
3     9
dtype: int64

In [0]:
import pandas as pd
df=pd.read_csv("/content/sample_data/california_housing_test.csv")
print (df)

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [0]:
print (df.loc[0])

longitude               -122.0500
latitude                  37.3700
housing_median_age        27.0000
total_rooms             3885.0000
total_bedrooms           661.0000
population              1537.0000
households               606.0000
median_income              6.6085
median_house_value    344700.0000
Name: 0, dtype: float64

In [0]:
print (df.head())

   longitude  latitude  ...  median_income  median_house_value
0    -122.05     37.37  ...         6.6085            344700.0
1    -118.30     34.26  ...         3.5990            176500.0
2    -117.81     33.78  ...         5.7934            270500.0
3    -118.36     33.82  ...         6.1359            330000.0
4    -119.67     36.33  ...         2.9375             81700.0

[5 rows x 9 columns]

In [0]:
print(df.loc[99])

longitude               -118.2000
latitude                  33.7700
housing_median_age        52.0000
total_rooms             1375.0000
total_bedrooms           457.0000
population              1089.0000
households               317.0000
median_income              2.2344
median_house_value    200000.0000
Name: 99, dtype: float64

In [0]:
print (df.tail(n=1))

      longitude  latitude  ...  median_income  median_house_value
2999    -119.63     34.42  ...         8.5608            500001.0

[1 rows x 9 columns]

In [0]:
print(df.loc[[0,99,999]])

     longitude  latitude  ...  median_income  median_house_value
0      -122.05     37.37  ...         6.6085            344700.0
99     -118.20     33.77  ...         2.2344            200000.0
999    -118.30     34.10  ...         1.7083            166700.0

[3 rows x 9 columns]

In [0]:
print (df.iloc[-1])

longitude               -119.6300
latitude                  34.4200
housing_median_age        42.0000
total_rooms             1765.0000
total_bedrooms           263.0000
population               753.0000
households               260.0000
median_income              8.5608
median_house_value    500001.0000
Name: 2999, dtype: float64